{% extends 'base.html.twig' %}

{% block title %}Сообщения{% endblock %}

{% block body %}
    <div class="content container-xl d-inline-flex mx-auto">
        <div class="navigation-bar container px-0 me-4">
            <div class="navigation-bar__header">
                {#                форма поиска по всем сообщениям#}
            </div>
            <div class="navigation-bar__list">
                <ol class="list-group">
                    {% for provider in messageProviders %}
                        <li class="message-provider list-group-item list-group-item-action d-flex justify-content-between align-items-start px-2"
                                data-provider-type="{{ provider.type }}"
                                data-provider-id="{{ provider.id }}"
                        >
                            {% if provider.type is same as('channel') %}
                                <div class="ms-2 me-auto d-inline-flex">
                                    <div>{{ provider.name }}</div>
                                </div>
                            {% else %}
                                <div class="ms-2 me-auto">
                                    <div>{{ provider.name }}</div>
                                </div>
                            {% endif %}
                            {% if provider.newMessagesCount > 0 %}
                                <span class="badge bg-primary rounded-pill">{{ provider.newMessagesCount }}</span>
                            {% endif %}
                        </li>
                        {% if provider.type is same as('channel') %}
                            <ol class="list-group">
                                {% for branch in provider.branches %}
                                    <li class="message-provider list-group-item list-group-item-action d-flex justify-content-between align-items-start ms-3"
                                        data-provider-type="{{ branch.type }}"
                                        data-provider-id="{{ branch.id }}"
                                    >
                                        <div class="ms-2 me-auto">
                                            <div>{{ branch.name }}</div>
                                        </div>
    {#                                    <span class="badge bg-primary rounded-pill">{{ branch.newMessagesCount }}</span>#}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="main d-flex flex-column container p-3 border-my1">
            <div class="main__header mb-2">
                <h4 class="main__header__name"></h4>
                <div class="main__header__search">
                    {#                    форма поиска по сообщениям#}
                </div>
            </div>
            <div class="main__content p-3 border-my1">
                {#                ajax #}
            </div>
        </div>
    </div>
{% endblock %}
