{% extends 'base.html.twig' %}

{% block title %}Сообщения{% endblock %}

{% block body %}
    <h1>Message index</h1>

    <div class="content container-xl d-inline-flex">
        <div class="navigation-bar container">
            <div class="navigation-bar__header">
                {#                форма поиска по всем сообщениям#}
            </div>
            <div class="navigation-bar__list">
                <ol class="list-group">
                    {% for provider in messageProviders %}
                        {% if provider.type is same as('channel') %}
                            {% set colorClass = 'list-group-item-info' %}
                        {% else %}
                            {% set colorClass = '' %}
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between align-items-start {{ colorClass }}"
                                data-provider-type="{{ provider.type }}"
                                data-provider-id="{{ provider.id }}"
                        >
                            <div class="ms-2 me-auto">
                                <div>{{ provider.name }}</div>
                            </div>
                            <span class="badge bg-primary rounded-pill">{{ provider.newMessagesCount }}</span>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="main d-flex flex-column container ms-3">
            <div class="main__header">
                <p class="main__header__name"></p>
                <div class="main__header__search">
                    {#                    форма поиска по сообщениям#}
                </div>
            </div>
            <div class="main__list border-light">
                {#                блок с сообщениями, ajax#}
            </div>
            <div class="main__content">
                {#                блок информации о канале#}
            </div>
            <div class="main__message-input">
                {#                блок ввода сообщения#}
                <a href="{{ path('app_message_new') }}">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
