<ol class="messages list-group mb-3">
    {% for message in messages %}
        {% if message['creationDate'] > branchChannelUser.lastSeenDate and app.user.id != message['userId']%}
            {% set colorClass = 'list-group-item-dark' %}
        {% else %}
            {% set colorClass = '' %}
        {% endif %}

        {% if app.user.id is same as(message['userId']) %}
            {% set userName = 'Вы' %}
        {% else %}
            {% set userName = message['userName'] %}
        {% endif %}

        <li class="message list-group-item list-group-item-action {{ colorClass }}" data-id="{{ message['messageId'] }}">
            <div class="d-flex justify-content-between align-items-center">
                <div class="fw-bold">{{ userName }}</div>
                <span class="badge bg-transparent text-dark ms-auto me-2">{{ message['creationDate']|date('H:i:s d.m.Y') }}</span>
            </div>
            <p class="message__text">{{ message['text'] }}</p>
        </li>
    {% endfor %}
</ol>
<div class="mb-3">
{% if branch.archivingDate %}
    <h3> Данная ветка в архиве с {{ branch.archivingDate|date('H:i:s d.m.Y') }}</h3>
    {% if channelUser.id == branch.creator.id %}
        <a href="{{ path('app_branch_unarchive', {'id': branch.id}) }}" class="btn btn-outline-danger mt-2"> Разархивировать </a>
        <p class="form-text"> Внимание! Это действие позволит отправлять сообщения всем пользователям текущей ветки </p>
    {% endif %}
{% elseif not branch.isInformational or (branch.isInformational and channelUser.id == branch.creator.id) %}
    {{ render(controller(
        'App\\Controller\\BranchMessageController::new',
        {},
        { 'branch-id': branch.id }
    )) }}
{% endif %}
</div>
{#todo#}
<form class="d-flex me-auto" role="search" method="get">
    <input class="form-control me-2" type="search" aria-label="Search" name="q">
    <button class="btn btn-outline-dark" type="submit">Найти</button>
</form>