{% extends 'base.html.twig' %}

{% block title %}ChannelUser{% endblock %}

{% block body %}
    <h1>ChannelUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ channel_user.id }}</td>
            </tr>
            <tr>
                <th>EntryDate</th>
                <td>{{ channel_user.entryDate ? channel_user.entryDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_channel_user_index') }}">back to list</a>

    <a href="{{ path('app_channel_user_edit', {'id': channel_user.id}) }}">edit</a>

    {{ include('channel_user/_delete_form.html.twig') }}
{% endblock %}
