<ol class="messages list-group mb-3">
    {% for message in dialog_messages %}
        {% if not message['isRead'] and app.user.id is not same as(message['senderId']) %}
            {% set colorClass = 'list-group-item-dark bg-opacity-25' %}
        {% else %}
            {% set colorClass = '' %}
        {% endif %}

        {% if app.user.id is same as(message['senderId']) %}
            {% set userName = 'Вы' %}
        {% else %}
            {% set userName = message['otherUserName'] %}
        {% endif %}

        <li class="message list-group-item list-group-item-action {{ colorClass }}" data-id="{{ message['messageId'] }}">
            <div class="d-flex justify-content-between align-items-center">
                <div class="fw-bold me-auto">{{ userName }}</div>
                {% for tag in messagesTags[message['messageId']] %}
                    <span class="badge bg-primary bg-opacity-25 text-dark me-2">{{ tag['name'] }}</span>
                {% endfor %}
                <span class="badge bg-transparent text-dark">{{ message['creationDate']|date('H:i:s d.m.Y') }}</span>
            </div>
            <p class="message__text">{{ message['text'] }}</p>
        </li>
    {% endfor %}
</ol>
<div class="d-flex flex-column mb-3">
    {{ render(controller(
        'App\\Controller\\DialogMessageController::new',
        {},
        { 'other-user-id': otherUserId }
    )) }}
</div>
{#todo#}
{% if isQuery %}
    {% if dialog_messages %}
        <h5>Сообщения найдены</h5>
    {% else %}
        <h5>Сообщения не найдены!</h5>
    {% endif %}
{% endif %}
<form class="d-flex me-auto" name="dialog_message_search" role="search" method="get" action="{{ path('app_dialog_message_index', {'other-user-id': otherUserId}) }}">
    <input class="form-control me-2" type="search" placeholder="Поиск сообщений в диалоге" aria-label="Search" name="q">
    <button class="btn btn-outline-dark" type="submit">Найти</button>
</form>